/*  ========================================================================
    Navigations CSS
    ========================================================================    */

    /* General Navigation 
    ------------------------------------------------------------------------    */
    
        .nav {
            position: relative;
            font: normal 0.75em sans-serif;
            list-style: none;
            margin: 0;
            line-height: 1em;
        }
        
            .nav li {
                float: left;
            }
            
                .nav li a {
                    display: block;
                    padding: 5px;
                    margin-right: 5px;
                    color: #1f1c18;
                    border: none;
                }
                
                .nav li a:hover, .nav li a:focus {
                    color: #000;
                }
                
                .nav li a.active, .nav li a.active:hover, .nav li a.active:focus {
                    color: #990000;
                }
    
    /* Skip Navigation
    ------------------------------------------------------------------------    */
    
        #skip-navigation ul {
            float: right;
		} 
		
            #skip-navigation ul li {
                position: absolute;
                display: none; 
            }
		
            /*All incl Opera*/
            /* * html */ 
            
            #skip-navigation ul li {display: block} /*Seen by IE*/
            
            :root #skip-navigation ul li {display: block} /*Seen by Moz, FF and Safari*/
		
                #skip-navigation ul li a {
                    position: absolute;
                    left: -9999em;
                    display: inline;
                    text-transform: uppercase;
                    border: none;
                    font-size: 1.7em;
                    padding: 8px 7px 7px;
                    text-align: center;
                    background: #aca07e;
                    color: #0b0907;
                    margin: 0;
                    z-index: 1000;
                    width: 250px;
                }
                
                #skip-navigation ul li a:focus, #skip-navigation ul li a:active {
                    left: auto;
                    right: 15px;
                    top: 40px;	
                }
                
                #skip-navigation ul li a:hover {cursor: default}
    
    /* Back to Home
    ------------------------------------------------------------------------    */
    
        #home-navigation {
            position: absolute;
            left: 0;
            top: 6px;
        }
            #home-navigation li a {
                width: 304px;
                height: 115px;
                background: transparent url("../images/logo.jpg") 0 0 no-repeat;
                text-indent: -9999px;
                padding: 0;
            }
            
        /*#home-navigation li a:hover, #home-navigation li a:focus {
                background: transparent url("../images/logo.png") 0 -139px no-repeat;
            }*/
    
    /* Main Navigation
    ------------------------------------------------------------------------    */
    
        #main-navigation {
            font-size: 0.875em;
            width: 200px;
            z-index: 10;
        }
        
            #main-navigation li {
                float: none;
                height: 40px;
                margin: 1px;
                background: #000033; /* for non-css3 browsers */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000F21', endColorstr='#062244'); /* for IE */
                background: -webkit-gradient(linear, left top, left bottom, from(#000F21), to(#062244)); /* for webkit browsers */
                background: -moz-linear-gradient(top,  #000F21,  #062244); /* for firefox 3.6+ */
            }
        
                #main-navigation li a {
                    color: #fff;
                    padding: 15px 10px;
                    margin-right: 0;
                }
                
                #main-navigation li a:hover, #main-navigation li a:focus {
                    background: #000F21;
                }
                
                    #main-navigation li a.active, #main-navigation li a.active:hover, #main-navigation li a.active:focus {
                        background: #fff;
                        border: 1px solid #cbcbcb;
                        border-bottom: none;
                        font-weight: bold;
                        color: #990000;
                        margin: 0;
                    }
                  
            
            #main-navigation .main-navigation-sub {
                color: #fff;
            }
            
                #main-navigation .main-navigation-sub li {
                    float: none;
                    height: auto;
                    margin: 1px;
                    background: none;
                    list-style: disc;
                    margin-left: 20px;
                }
                
                    #main-navigation .main-navigation-sub li a {
                        color: #fff;
                        padding: 10px 5px;
                        margin-right: 0;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        border-radius: 5px;
                    }
                    
                    #main-navigation .main-navigation-sub li a:hover, #main-navigation li a:focus {
                        background: #062244;
                    }
                    
                        #main-navigation .main-navigation-sub li a.active, #main-navigation li a.active:hover, #main-navigation li a.active:focus {
                            background: #fff;
                            border: 1px solid #cbcbcb;
                            border-bottom: none;
                            font-weight: bold;
                            color: #990000;
                            margin: 0;
                        }                    
    
    /* Top Navigation
    ------------------------------------------------------------------------    */
    
        #top-navigation {
            position: absolute;
            right: 170px;
            top: 20px;
        }
        
            #top-navigation li.language {
                border-right: 1px solid #fff;
            }
            
            #top-navigation li a {
                color: #ffffff;
            }
            
            #top-navigation li a:hover, #top-navigation li a:focus {
                text-decoration: underline;
            }
    
    /* Sub Navigation
    ------------------------------------------------------------------------    */
    
        #sub-navigation {
            position: relative;
            float: left;
            border: 1px solid #cecece;
            border-bottom: none;
        }
        
            #sub-navigation li {
                width: 100%;
            }
            
                #sub-navigation li a {
                    padding: 10px;
                    background: #f4f4f4;
                    border-bottom: 1px solid #cecece;
                    border-top: 1px solid #fff;
                    text-align: right;
                    margin: 0;
                }
                
                #sub-navigation li a:hover, #sub-navigation li a:focus {
                    background: #e6e6e5;
                   
                }
                
                    #sub-navigation li a.active, #sub-navigation li a.active:hover, #sub-navigation li a.active:focus {
                        background: #9a9794 url("../images/sub-navigation-active-bg.png") left center repeat-x;
                        font-weight: bold;
                        color: #fff;
                        border-top: 1px solid #eee;
                        border-bottom: 1px solid #807e7b;
                    }
    
    /* Footer Navigation
    ------------------------------------------------------------------------    */
    
    
    /* Superfish
    ------------------------------------------------------------------------    */
    
        /*** ESSENTIAL STYLES ***/
        .sf-menu, .sf-menu * {
            margin:			0;
            padding:		0;
            /*list-style:		none;*/
        }
        .sf-menu {
            line-height:	1.0;
        }
        .sf-menu ul {
            position:		absolute;
            top:			-999em;
            width:			200px; /* left offset of submenus need to match (see below) */
        }
        .sf-menu ul li {
            width:			100%;
        }
        .sf-menu li:hover {
            visibility:		inherit; /* fixes IE7 'sticky bug' */
        }
        .sf-menu li {
            float:			left;
            position:		relative;
        }
        .sf-menu a {
            display:		block;
            position:		relative;
        }
        .sf-menu li:hover ul,
        .sf-menu li.sfHover ul {
            left:			0;
            top:			40px; /* match top ul list item height */
            z-index:		99;
        }
        ul.sf-menu li:hover li ul,
        ul.sf-menu li.sfHover li ul {
            top:			-999em;
        }
        ul.sf-menu li li:hover ul,
        ul.sf-menu li li.sfHover ul {
            left:			200px; /* match ul width */
            top:			0;
        }
        ul.sf-menu li li:hover li ul,
        ul.sf-menu li li.sfHover li ul {
            top:			-999em;
        }
        ul.sf-menu li li li:hover ul,
        ul.sf-menu li li li.sfHover ul {
            left:			200px; /* match ul width */
            top:			0;
        }
        
        /*** adding sf-vertical in addition to sf-menu creates a vertical menu ***/

        /* this lacks ul at the start of the selector, so the styles from the main CSS file override it where needed */
        .sf-vertical li:hover ul,
        .sf-vertical li.sfHover ul {
            left:	200px; /* match ul width */
            top:	0;
        }


