/*  ========================================================================
    Forms CSS
    ========================================================================    */

    /* General Form
    ------------------------------------------------------------------------    */
    
        .webform-client-form legend {
            position: absolute;
            left: -9999em;
        }
        
            .webform-client-form ol {
                list-style: none;
                margin: 0;
            }
            
                .webform-client-form li {
                    clear: both;
                }
                
                    .webform-client-form label, .webform-client-form .form-text, .webform-client-form .form-textarea {
                        position: relative;
                        float: left;
                        width: 25%;
                        padding: 0;
                        margin: 0 0 10px;
                        font-weight: normal;
                    }
                    
                        .webform-client-form label.error {
                            position: relative;
                            float: left;
                            width: 60%;
                            font-weight: normal;
                            color: #006D2A;
                            margin-left: 24.5%;
                        }
                    
                        .webform-client-form .form-checkboxes label {
                          width: 65%;
                        }
                    
                    .webform-client-form .form-text, .webform-client-form .form-textarea {
                        border: 1px solid #006D2A;
                        background: #006D2A;
                        color: #fff;
                        padding: 4px;
                        width: 60%;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                    }
                    
                    .webform-component-textarea {
                      clear: both;
                    }
                    
                    .webform-client-form .form-text:focus, .webform-client-form .form-textarea:focus {
                        border: 1px solid #006D2A;
                        background: #fff;
                        color: #222;
                    }
                    
                    .webform-client-form .form-textarea {
                        width: 62.5%;
                        height: 150px;
                    }
        
        .form-submit {
            border: none;
            display: block;
            padding: 5px 20px;
            color: #fff;
            font-weight: bold;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            -moz-box-shadow: 0 1px 3px 0 #111;
            -webkit-box-shadow: 0 1px 3px 0 #111;
            box-shadow: 0 1px 3px 0 #111;
            background: #8cc63f;
            text-transform: uppercase;
            height: auto;
            margin: 0 0 1px;
        }
        
        .form-submit:hover, .form-submit:focus {
            background: #6a9530;
            margin: 1px 0 0;
            -moz-box-shadow: 0 0 2px 0 #111;
            -webkit-box-shadow: 0 0 2px 0 #111;
            box-shadow: 0 0 2px 0 #111;
        }
        
        .form-required {
            color: #8cc63f;
        }
        
        .webform-client-form .form-submit {
            margin: 0 0 10px 25%;
        }
    
    /* Login Form
    ------------------------------------------------------------------------    */
    
        #user-login ol {
            list-style: none;
            margin: 0;
        }
        
            #user-login li, #user-login .form-submit {
                clear: both;
            }
            
                #user-login label, #user-login .form-text {
                    position: relative;
                    float: left;
                    width: 25%;
                    padding: 3px 0;
                    margin: 0 0 10px;
                    font-weight: normal;
                }
                
                #user-login .form-text {
                    border: 1px solid #082c58;
                    background: #082c58;
                    color: #fff;
                    padding: 4px;
                    width: 70%;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                }
                
                #user-login .form-text:focus {
                    border: 1px solid #8cc63f;
                    background: #fff;
                    color: #222;
                }
                
                #user-login label.error {
                    position: relative;
                    float: left;
                    width: 60%;
                    font-weight: normal;
                    color: #8cc63f;
                    margin-left: 25%;
                }
                
                #user-login .form-submit {
                    margin-left: 25%;
                }